<div class="container"> 
  <div class="row users">
    <div class="col-sm-3 photo">
        <h2>  Photo  </h2>
    </div>
    <div class="col-sm-9">
        <div class=user_details>
            <h2> User Name </h2>
            <p class="post_count">Numer of Posts x</p>
        </div>
    </div>
    </div>

    <div class="row users">
    <div class="col-sm-3 photo">
        <h2>  Photo  </h2>
    </div>
    <div class="col-sm-9">
        <div class=user_details>
            <h2> User Name </h2>
            <p class="post_count">Numer of Posts x</p>
        </div>
    </div>
    </div>

    <div class="row users">
    <div class="col-sm-3 photo">
        <h2>  Photo  </h2>
    </div>
    <div class="col-sm-9">
        <div class=user_details>
            <h2> User Name </h2>
            <p class="post_count">Numer of Posts x</p>
        </div>
    </div>
    </div>

    <div class="row users">
    <div class="col-sm-3 photo">
        <h2>  Photo  </h2>
    </div>
    <div class="col-sm-9">
        <div class=user_details>
            <h2> User Name </h2>
            <p class="post_count">Numer of Posts x</p>
        </div>
    </div>
    </div>
</div>
