<div class="container"> 
  <div class="row users">
    <div class="col-sm-3 photo">
        <h2>  Photo  </h2>
    </div>
    <div class="col-sm-9">
        <div class=user_details>
            <h2> User Name </h2>
            <p class="post_count">Numer of Posts x</p>
        </div>
    </div>
  </div>
    <br>
  <div class="row bio_row">
    <div class="bio">
    <h2> Bio </h2>
        <p>
        Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the embed code for the video you want to add. You can also type a keyword to search online for the video that best fits your document.
        To make your document look professionally produced, Word provides header, footer, cover page, and text box designs that complement each other. For example, you can add a matching cover page, header, and sidebar. Click Insert and then choose the elements you want from the different galleries.
        Themes and styles also help keep your document coordinated. When you click Design and choose a new Theme, the pictures, charts, and SmartArt graphics change to match your new theme. When you apply styles, your headings change to match the new theme.

        </p>
    </div>
  <div>
<br>
  <div class="row">
    <div class="bio">
    <h2> Post # 1 </h2>
        <p>
        Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the embed code for the video you want to add. You can also type a keyword to search online for the video that best fits your document.
        To make your document look professionally produced, Word provides header, footer, 

        <p class="post_count">comment x by y</p>
        </p>
    </div>
  <div>
<br>
    <div class="row">
    <div class="bio">
    <h2> Post # 2 </h2>
        <p>
        Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the embed code for the video you want to add. You can also type a keyword to search online for the video that best fits your document.
        To make your document look professionally produced, Word provides header, footer, 

        <p class="post_count">comment x by y</p>
        </p>
    </div>
  <div>
    <br>
    <div class="container see_all">
    <button type="button" class="btn btn-outline-secondary">See All Posts</button>
    </div>

</div>
